VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_WORKER_URL=
VITE_PAYMENT_BKASH=
VITE_PAYMENT_NAGAD=
VITE_PAYMENT_ROCKET=
VITE_PAYMENT_UPAY=
VITE_SUPPORT_WHATSAPP=
